---
import packageJson from "../../../../packages/core/package.json";
import CallToAction from "@astrojs/starlight/components/CallToAction.astro";
import type { Props } from "@astrojs/starlight/props";
import { Image } from "astro:assets";

const { data } = Astro.props.entry;
const { title = data.title, actions = [], image } = data.hero || {};

const imageAttrs = {
  loading: "eager" as const,
  decoding: "async" as const,
  width: 1440,
  height: 1024,
  alt: image?.alt || "",
};

let darkImage: ImageMetadata | undefined;
let lightImage: ImageMetadata | undefined;
if (image) {
  if ("file" in image) {
    darkImage = image.file;
  } else if ("dark" in image) {
    darkImage = image.dark;
    lightImage = image.light;
  }
}
---

<section class="relative isolate px-6 lg:px-8">
  <!-- Blur Top -->
  <div
    class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#C1FE77] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
  <!-- Wrapper -->
  <div class="mx-auto max-w-2xl pt-32 flex flex-col items-center">
    <!-- Pill -->
    <div
      class="px-2.5 py-0.5 text-sm border-b border-accent-base mb-5 bg-black rounded-t-md flex items-center text-center"
    >
      v{packageJson.version}
    </div>
    <!-- Textarea -->
    <div class="text-center animate-fade">
      <h1
        id={"_top"}
        data-page-title
        class="text-4xl font-bold tracking-tight text-typography-title-dark dark:text-typography-title-light sm:text-6xl"
      >
        {title}
      </h1>
      <p
        class="mt-6 text-lg leading-8 text-typography-body-dark dark:text-typography-body-light"
      >
        {data.description}
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        {
          actions.length > 0 && (
            <div class="sl-flex actions gap-5">
              {/* @ts-ignore */}
              {actions.map(({ text, ...attrs }) => (
                // @ts-ignore
                <CallToAction {...attrs} set:html={text} />
              ))}
            </div>
          )
        }
      </div>
    </div>
  </div>
  <!-- Image -->
  {
    image && (
      // <div class="pb-32"></div>
      <div class="mt-16 w-full">
        {darkImage && (
          <Image
            src={darkImage}
            {...imageAttrs}
            class="object-cover w-full h-full rounded-lg shadow-lg animate-fade delay-300"
            class:list={{ "light:sl-hidden": Boolean(lightImage) }}
          />
        )}
        {lightImage && (
          <Image
            src={lightImage}
            {...imageAttrs}
            class="object-cover w-full h-full rounded-lg shadow-lg animate-fade delay-300"
            class="dark:sl-hidden"
          />
        )}
      </div>
      //   </div>
    )
  }
  <!-- Blur Bottom -->
  <div
    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#C1FE77] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
    >
    </div>
  </div>
</section>
